.contact
{
    background: plum;
    width: 300px;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 9%;

}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  margin-top: 20px;
}